<a href="https://colab.research.google.com/github/Amelel93/Numpyexo/blob/main/TD2pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Exercice 1 : Creating and Modifying Series
import pandas as pd
import numpy as np
data = {'a': 100, 'b': 200, 'c': 300}
s = pd.Series(data)  # Création de la Series
print(s)

a    100
b    200
c    300
dtype: int64

In [3]:
#Exercice 2 : Creating DataFrames

#Creation du  DataFrame
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)

#  Ajouter la colonne "D" avec les valeurs [10, 11, 12]
df['D'] = [10, 11, 12]

# Supprimer la colonne 'B'
df = df.drop(columns=['B'])

print(df)

   A  C   D
0  1  3  10
1  4  6  11
2  7  9  12

In [5]:
# Exercice 3 : DataFrame Indexing and Selection

# Création du DataFrame
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)

# Sélection de la colonne B
col_B = df['B']
print("Colonne B :\n", col_B)

Colonne B :
 0    2
1    5
2    8
Name: B, dtype: int64

In [8]:
# Exercice 4 : Adding and Removing DataFrame Elements

 #Création du DataFrame initial
data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)

# Ajouter une nouvelle colonne 'Somme' (A + B + C)
df['Somme'] = df['A'] + df['B'] + df['C']
print("\nDataFrame avec la colonne Somme :\n", df)

# Supprimer la colonne 'Somme'
df = df.drop(columns=['Somme'])
print("\nDataFrame après suppression de la colonne Somme :\n", df)

# Ajouter une colonne 'Aléatoire' avec des nombres générés aléatoirement via NumPy
df['Aléatoire'] = np.random.randint(1, 100, size=len(df))
print("\nDataFrame avec la colonne Aléatoire :\n", df)

DataFrame avec la colonne Somme :
    A  B  C  Somme
0  1  2  3      6
1  4  5  6     15
2  7  8  9     24

DataFrame après suppression de la colonne Somme :
    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

DataFrame avec la colonne Aléatoire :
    A  B  C  Aléatoire
0  1  2  3          8
1  4  5  6         78
2  7  8  9         70

In [ ]:
# Exercice 5 : Merging DataFrames

# Création des DataFrames
left = pd.DataFrame({'key': [1, 2, 3],
                     'A': ['A1', 'A2', 'A3'],
                     'B': ['B1', 'B2', 'B3']})

right = pd.DataFrame({'key': [1, 2, 3],
                      'C': ['C1', 'C2', 'C3'],
                      'D': ['D1', 'D2', 'D3']})

# Fusion des DataFrames sur la colonne 'key' avec une jointure interne
df_inner = pd.merge(left, right, on='key')
print("\nFusion avec jointure interne :\n", df_inner)

# Modifier la fusion pour utiliser une jointure externe (outer join)
df_outer = pd.merge(left, right, on='key', how='outer')
print("\nFusion avec jointure externe :\n", df_outer)

# Ajouter une nouvelle colonne 'E' au DataFrame 'right'
right['E'] = ['E1', 'E2', 'E3']
print("\nDataFrame right après ajout de la colonne E :\n", right)

# Mettre à jour la fusion pour inclure la nouvelle colonne 'E'
df_updated = pd.merge(left, right, on='key', how='outer')
print("\nFusion mise à jour avec la colonne E :\n", df_updated)

In [9]:
# Exercice 6 : Data Cleaning

# Création du DataFrame avec des valeurs NaN
data = {'A': [1.0, np.nan, 7.0],
        'B': [np.nan, 5.0, 8.0],
        'C': [3.0, 6.0, np.nan]}
df = pd.DataFrame(data)

# Remplacer toutes les valeurs NaN par 0
df_zero = df.fillna(0)
print("\nDataFrame après remplacement des NaN par 0 :\n", df_zero)

# Remplacer les NaN par la moyenne de la colonne correspondante
df_mean = df.fillna(df.mean(numeric_only=True))
print("\nDataFrame après remplacement des NaN par la moyenne de la colonne :\n", df_mean)

# Supprimer les lignes contenant au moins un NaN
df_dropped = df.dropna()
print("\nDataFrame après suppression des lignes contenant des NaN :\n", df_dropped)

DataFrame après remplacement des NaN par 0 :
      A    B    C
0  1.0  0.0  3.0
1  0.0  5.0  6.0
2  7.0  8.0  0.0

DataFrame après remplacement des NaN par la moyenne de la colonne :
      A    B    C
0  1.0  6.5  3.0
1  4.0  5.0  6.0
2  7.0  8.0  4.5

DataFrame après suppression des lignes contenant des NaN :
 Empty DataFrame
Columns: [A, B, C]
Index: []

In [10]:
#Exercice 7 : Grouping and Aggregation

# Création du DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)

# Calcul de la moyenne des valeurs par catégorie
df_mean = df.groupby('Category')['Value'].mean()
print("\nMoyenne des valeurs par catégorie :\n", df_mean)

#  Modifier pour calculer la somme au lieu de la moyenne
df_sum = df.groupby('Category')['Value'].sum()
print("\nSomme des valeurs par catégorie :\n", df_sum)

# Compter le nombre d'entrées dans chaque catégorie
df_count = df.groupby('Category')['Value'].count()
print("\nNombre d'entrées par catégorie :\n", df_count)

Moyenne des valeurs par catégorie :
 Category
A    3.0
B    4.0
Name: Value, dtype: float64

Somme des valeurs par catégorie :
 Category
A     9
B    12
Name: Value, dtype: int64

Nombre d'entrées par catégorie :
 Category
A    3
B    3
Name: Value, dtype: int64

In [11]:
# Exercice 8 : Pivot Tables

# Création du DataFrame
data = {'Category': ['A', 'A', 'A', 'B', 'B', 'B'],
        'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)

# Créer une table pivot avec la moyenne de 'Value' pour chaque 'Category' et 'Type'
pivot_mean = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='mean')
print("\nTable pivot avec la moyenne :\n", pivot_mean)

# Modifier la table pivot pour afficher la somme des valeurs au lieu de la moyenne
pivot_sum = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='sum')
print("\nTable pivot avec la somme :\n", pivot_sum)

# Ajouter les marges pour afficher les totaux globaux
pivot_total = df.pivot_table(values='Value', index='Category', columns='Type', aggfunc='mean', margins=True)
print("\nTable pivot avec les totaux globaux :\n", pivot_total)

Table pivot avec la moyenne :
 Type        X    Y
Category
A         2.0  2.0
B         5.0  5.0

Table pivot avec la somme :
 Type      X   Y
Category
A         4   2
B         5  10

Table pivot avec les totaux globaux :
 Type        X    Y  All
Category
A         2.0  2.0  2.0
B         5.0  5.0  5.0
All       3.0  4.0  3.5

In [12]:
# Exercice 9 : Time Series Data


# Créer une série temporelle avec une plage de dates
date_range = pd.date_range(start='2023-01-01', periods=6, freq='D')

# Création du DataFrame avec des valeurs aléatoires
df = pd.DataFrame({'Date': date_range, 'Value': np.random.randint(1, 100, size=6)})

# Définir la colonne 'Date' comme index
df.set_index('Date', inplace=True)
print("\nDataFrame avec l'index de date :\n", df)

# Rééchantillonner les données et calculer la somme sur chaque période de 2 jours
df_resampled = df.resample('2D').sum()
print("\nDataFrame rééchantillonné (somme sur 2 jours) :\n", df_resampled)

DataFrame avec l'index de date :
             Value
Date
2023-01-01     81
2023-01-02     15
2023-01-03     79
2023-01-04      7
2023-01-05     36
2023-01-06     29

DataFrame rééchantillonné (somme sur 2 jours) :
             Value
Date
2023-01-01     96
2023-01-03     86
2023-01-05     65

In [13]:
# Exercice 10 : Handling Missing Data

# Création du DataFrame avec des valeurs NaN
data = {'A': [1.0, 2.0, np.nan],
        'B': [np.nan, 5.0, 8.0],
        'C': [3.0, np.nan, 9.0]}
df = pd.DataFrame(data)

# Interpoler les valeurs manquantes
df_interpolated = df.interpolate()
print("\nDataFrame après interpolation des valeurs manquantes :\n", df_interpolated)

# Supprimer les lignes contenant des NaN au lieu d'interpoler
df_dropped = df.dropna()
print("\nDataFrame après suppression des lignes avec NaN :\n", df_dropped)

DataFrame après interpolation des valeurs manquantes :
      A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  6.0
2  2.0  8.0  9.0

DataFrame après suppression des lignes avec NaN :
 Empty DataFrame
Columns: [A, B, C]
Index: []

In [15]:
#Exercice 11 : DataFrame Operations

 # Création du DataFrame
import pandas as pd

data = {'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]}
df = pd.DataFrame(data)

# Calculer la somme cumulative
df_cumsum = df.cumsum()
print("\nSomme cumulative du DataFrame :\n", df_cumsum)

# Calculer le produit cumulatif
df_cumprod = df.cumprod()
print("\nProduit cumulatif du DataFrame :\n", df_cumprod)

# Appliquer une fonction pour soustraire 1 à tous les éléments
df_subtract = df.map(lambda x: x - 1)
print("\nDataFrame après soustraction de 1 à tous les éléments :\n", df_subtract)

Somme cumulative du DataFrame :
     A   B   C
0   1   2   3
1   5   7   9
2  12  15  18

Produit cumulatif du DataFrame :
     A   B    C
0   1   2    3
1   4  10   18
2  28  80  162

DataFrame après soustraction de 1 à tous les éléments :
    A  B  C
0  0  1  2
1  3  4  5
2  6  7  8